body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  /*font-family: 'Kaushan Script', cursive;*/
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  border: 0;
  background-color: #e5e5e5;
}

/* Container */
.container {
  width: 100%x;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../img/intro.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: auto;
  text-align: center;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.1;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 20px auto 20px;
}

.suptitle {
  margin-bottom: 20px;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  text-align: center;
  color: #ffffff;
}

/* Header*/

.header {
  padding-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Nav */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: color 0.1s linear;
  position: relative;
}

.nav__link::after {
  content: "";
  width: 100%;
  display: block;
  height: 3px;
  opacity: 0;

  background-color: #fce38a;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1 linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

/* Button */

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;

  border: 3px solid #fff;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: background 0.1s linear color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;

  border-top: 3px solid #fff;
  opacity: 0.7;

  font-style: 18px;
  color: #fff;

  text-transform: uppercase;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38181;
}

.slider__nub {
  font-style: 24px;
  font-weight: 700;
}

/* Section */

.section {
  padding: 80px 0;
}

.section--devices {
  padding-bottom: 0;
  background: url("../img/devices-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.section__header {
  margin: 0 auto 50px;
  width: 100%;
  max-width: 950px;
  text-align: center;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-style: 24px;
  color: #333;
}

.section__title {
  font-style: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  display: block;
  height: 3px;
  width: 30px;
  margin: 30px auto;

  background-color: #f38181;
}

.section__text {
  color: #999;
  font-style: 15px;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.about__item {
  width: 380px;
  background-color: #95e1d3;
  position: relative;
}

.about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
  opacity: 0.1;
}

.about__item:hover .about_text {
  opacity: 1;
}

.about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transfotm 0.2s linear;
}

.about__img img {
  display: block;
  transition: opacity 0.1s linear;
}

.about_text {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-style: 18px;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50, 0);
  transition: opacity 0.2s linear;
}

/* Statistics */

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #b5eae0;

  text-align: center;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  margin-bottom: 10px;

  line-height: 1;
  font-size: 72px;
  font-weight: 700;
}

.stat__text {
  font: 14px;
  text-transform: uppercase;
}

/* Services */

.services {
  display: flex;
}

.services__item {
  flex: 1 1 0;
  position: relative;
  padding-left: 85px;
  padding-right: 35px;
}

.services__icon {
  position: absolute;
  top: 2;
  left: 28px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  font-size: 15px;
  color: #333;
}

/* Devices */

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item {
  display: block;
}

.devices__item--iphone {
  position: absolute;
  bottom: -65px;
  right: 0;
  z-index: 1;
}
